* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

hr {
    width: 75%;
}

header {
    background-color: black;
}

section {
    display: inline-block;
    width: 85%;
}

#insignia {
    width: 15%;
    min-width: 50px;
    max-width: 100px;
}

#haikus h2 {
    width: 65%;
    margin: 0 auto;
    padding: 50px 35px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    font-weight: normal;
}

.halfLeft {
    width: 49%;
    text-align: left;
    display: inline-block;
}

.halfRight {
    width: 49%;
    text-align: right;
    display: inline-block;
}

#controls {
    width: 65%;
    display: inline-block;
}

@media screen and (max-width: 750px) {
    #haikus h2 {
        font-size: 2rem;
        display: inline-block;
        padding: 20px 0;
        width: 100%;
    }

    #controls {
        width: 100%;
        display: inline-block;
    }

    .halfRight, .halfLeft {
        width: 40%;
        padding: 0 4%;
    }
}
