* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

hr {
    width: 75%;
}

h1, h2 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
    background-image: url('../assets/images/header-phone.jpg');
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
}

.inner {
    padding: 100px 20px;
    text-align: center;
    margin: auto;
    max-width: 800px;
    color: white;
    margin: 0 auto;
}

.inner h1 {
    margin: 0;
}

.inner p {
    font-size: 2rem;
    margin: 0;
}

#insignia {
    width: 25%;
    min-width: 200px;
}

.content {
    max-width: 800px;
    margin: 50px auto;
}

.content p {
    max-width: 600px;
    margin: auto;
    line-height: 30px;
    font-size: 16px;
    padding: 20px;
}

.buttons img {
    max-width: 72px;
    min-width: 60px;
    width: 15%;
    padding: 0 5px;
}

#haiku {
    width: 65%;
    margin: 0 auto;
    padding: 50px 35px;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;

}

@media screen and (max-width: 600px) {
    h1, h2 {
        font-size: 2rem;
    }

    #haiku {
        font-size: 2rem;
        padding: 35px;
    }

    #insignia {
        min-width: 100px;
    }

    .inner p {
        font-size: 1rem;
    }

    .buttons img {
        max-width: 50px;
        min-width: 40px;
    }

    .content {
        margin: 10px auto;
    }
}
