@font-face {
    font-family: cuprum;
    src: url(../views/fonts/Cuprum.otf);
}

body {
    background-color: #000;
    color: #fff;
    font-family: cuprum;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: underline;
}
