@font-face {
    font-family: cuprum;
    src: url(../views/fonts/Cuprum.otf);
}

html {
    min-height: 100%;
}

body {
    background: url('http://www.dominicpjoseph.com/bkgd') right;
    background-size: cover;
    background-color: #000;
    color: #fff;
    font-family: cuprum;
    text-align: center;
    text-shadow: 0px 0px 5px #000000;
}

h1 {
    font-size: 3em;
    width: 50%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #fff;
    padding: 0 1%;
}

p {
    font-size: 2em;
}

#blurb {
    min-width: 360px;
    padding: 0 5%;
}

p img {
    max-width: 72px;
    width: 13%;
    padding: 0 5px;
}
